# SQL - Structured Query Language (Linguagem de Consulta Estruturada)

https://www.w3schools.com/sql/

## Usando SQL em Python

In [ ]:
import pymysql
import getpass
import pandas.io.sql as psql

In [ ]:
p = getpass.getpass()
conn = pymysql.connect(host='127.0.0.1', #localhost
                       port=3306, 
                       user='aluno', 
                       passwd=p, 
                       db='SQLExample1')
cur = conn.cursor()

In [ ]:
cur.execute('use alunos;')
cur.execute('show tables')
cur.execute('describe tabela')

In [ ]:
q = '''SQL
SQL
SQL'''

cur.execute(q)
#a,b,c,d,e,f,g = cur.fetchone()
for r in cur.fetchall():
    print(r)

In [ ]:
texts = ['It always seems impossible until its done.',
         'In order to succeed, we must first believe that we can.',
         'Life is 10% what happens to you and 90% how you react to it.',
         'Start where you are. Use what you have. Do what you can.',]

numbers = [12,23,34,45]

regs = zip(texts,numbers)

cur.executemany('INSERT INTO Alunos.tabela_nova (text,number) VALUES (%s,%s)', (regs))

## Comandos

### DATABASE - Banco de dados SQL

**CREATE DATABASE** - Cria um novo banco de dados

**DROP DATABASE** - Elimina um banco de dados existente

**BACKUP DATABASE** - Cria um backup completo de um banco de dados SQL existente.

* **TO DISK** - Define onde ficará salvo o BACKUP 

* **WITH DIFFERENTIAL** - Faz o backup apenas das partes do banco de dados que foram alteradas desde o último backup

### TABLE - Tabela de um Banco de dados

**CREATE TABLE()** - Cria uma nova tabela no banco de dados (nome_da_coluna tipo_de_dado)
* **AS ' '** - Permite criar a partir de uma outra tabela, que será especificada após esse comando.

**DROP TABLE** - Exclui uma tabela existente

**TRUNCATE TABLE** - Exclui os registros de uma tabela existente

**ALTER TABLE** - Adiciona, modifica ou exclui colunas (ou restrições) em uma tabela existente
* **ADD** - Adiciona uma nova coluna na tabela
* **DROP COLUMN** - Exclui uma coluna da tabela
* **MODIFY COLUMN** - Modifica o tipo de dado de uma coluna

**CONSTRAINT** - Usado para especificar restrições para colunas da tabela. As restrições são:
* **NOT NULL** - Garante que uma coluna não pode ter um valor NULL
* **UNIQUE** - Garante que todos os valores em uma coluna sejam diferentes
* **PRIMARY KEY** - Uma combinação de NOT NULL e UNIQUE. Identifica exclusivamente cada linha em uma tabela
* **FOREIGN KEY** - Identifica exclusivamente uma linha / registro em outra tabela
* **CHECK** - Garante que todos os valores em uma coluna satisfaçam uma condição específica
* **PADRÃO** - Define um valor padrão para uma coluna quando nenhum valor é especificado
* **INDEX** - Usado para criar e recuperar dados do banco de dados muito rapidamente
* **AUTO_INCREMENT** - Permite que um número exclusivo seja gerado automaticamente quando um novo registro é inserido em uma tabela (incremento padrão +1)

### REGISTER - Registro de dados em uma tabela

**INSER INTO** - Insere novos dados
* **VALUES ()** - Valores que serão adicionados
* **INSERT INTO SELECT** - Copia os dados de uma tabela e os insere em outra tabela, desde que os tipos de dados de ambos os lugares correspondam.

**UPDATE** - Atualiza dados existentes
* **SET** - Mostra qual coluna deve ser atualizada com qual valor. 
* **OBS:** Lembre-se de usar **WHERE**

**DELETE FROM** - Delete dados existentes
* **OBS:** Lembre-se de usar **WHERE**

### VIEW - Visualização de uma tabela virtual baseada no conjunto de resultados de uma instrução SQL

**CREATE VIEW [ ]** - Cria uma visualização

**CREATE OR REPLACE VIEW [ ]** - Atualiza a visualização

**AS** - Especifica a instrução para criar ou atualizar a visualização

**DROP VIEW [ ]** - Exclui a visualização

### PROCEDURE - Procedimento armazenado é um código SQL preparado que você pode salvar, para que o código possa ser reutilizado repetidamente

**CREATE PROCEDURE** - Cria o procedimento com nome definido

**@** - Após ele será definido um parâmetro (optativo)

**AS** - Sinaliza o início do código do procedimento

**GO** - Sinaliza o fim do código do procedimento

**EXEC** - Executa o procedimento (parâmetro: após o nome do procedimento)

### SELECT - Seleciona e extrai dados de um banco de dados

**SELECT * ** - Selecionar tudo

**FROM** - Identifica de onde você vai extrair

**AS** - Renomeia uma tabela ou coluna

**CONCAT ()** - Concatena valores
    
**DISTINCT** - Extrai valores unicos

**SELECT INTO** - Copia os dados de uma tabela para uma nova (se for em outro banco de dados, deve ser usado com [IN])

### WHERE - Extrai apenas os registros que atendem a uma condição especifica

**Operadores e funções:**
    
**Básicos** - =, <>, <, >, <=, >=

**BETWEEN** - Entre dois valores (número, texto ou data) separados por **AND**

**LIKE ' '** - Pesquisa por um padrão (usando expressões regulares)

* **%** - 0 ou mais caracteres
* **_** - Exatamente um caractere
* **[abc]** - a, b ou c
* **[a-d]** - qualquer letra de a até d
* **[!abc]** - todas as letras menos a, b e c

**IN ()** - Para especificar vários valores possíveis pra uma coluna (Pode ser usado com **SELECT**)

**AND** - Exibe um registro se todas as condições forem verdadeiras

**OR** - Exibe um registro se alguma das condições for verdadeira

**NOT** - Exibe um registro que não tem a condição

**IS NULL** - Verificar se o campo é sem valor

**IS NOT NULL** - Verificar se o campo tem algum valor

**IFNULL(r,p)** - Retorna um valor p padrão quando o registro r for do tipo NULL

**EXISTS** - Usado para testar a existência de qualquer registro em uma subconsulta.

**ANY** - Retorna true se algum dos valores da subconsulta atender à condição.

**ALL** - Retorna true se todos os valores da subconsulta atenderem à condição.

### ORDER BY - Classifica o conjunto de resultados em uma ordem

**ASC** - Ordem crescente (por padrão, se não escrever nada, é em ordem crescente)

**DESC** - Ordem decrescente

### TOP (ou LIMIT) - Especifica o número de registros

**Somente número** - **SELECT TOP** number **FROM**

ou no final do comando - **LIMIT** number

**Porcentagem** -  **SELECT TOP** number **PERCENT FROM**

### JOIN - Combina linhas de duas ou mais tabelas, com base em uma coluna relacionada entre elas.

**INNER JOIN** - Retorna registros que possuem valores correspondentes nas duas tabelas
    
**LEFT JOIN** - Retorna todos os registros da tabela da esquerda e os registros correspondentes da tabela da direita
    
**RIGHT JOIN** - Retorna todos os registros da tabela da direita e os registros correspondentes da tabela da esquerda
    
**FULL JOIN** - Retorna todos os registros quando há uma correspondência na tabela esquerda ou direita

**ON** - Após ele é colocado qual coluna será relacionada entre as tabelas

**EXEMPLO:**

**SELECT** * **FROM** ((Orders **------** **JOIN** Customers **ON** Orders.CustomerID = Customers.CustomerID)

In [ ]:
select c.customerName as Nome, min(p.amount) as Minimo, sum(p.amount) as Total from payments as p
inner join customers as c
on p.customerNumber = c.customerNumber
where c.customerName like 'A%'
group by p.customerNumber
having Minimo > 2000
order by Nome

### UNION - usado para combinar o conjunto de resultados de duas ou mais instruções SELECT

**UNION** - Colocado entre as instruções SELECT, seleciona apenas valores distintos por padrão.

**UNION ALL** - Também colocado entre as instruções SELECT, porém seleciona todos os valores.

### GROUP BY - Serve para agrupar o conjunto de resultados em uma ou mais colunas, usado frequentemente com funções agregadas:

**COUNT ()** - Conta quantos registros de dados foram extraidos

**AVG ()** - Valor médio de uma coluna numérica

**SUM ()** - Soma total de uma coluna numérica

**MIN ()** - Menor valor da coluna selecionada

**MAX ()** - Maior valor da coluna selecionada

**HAVING** - Exerce a função de WHERE extraindo apenas os registros que atendem a uma condição especifica, pois o comando WHERE não pode ser usado com funções agregadoras

### CASE - Passa por condições e retorna um valor quando a primeira condição é atendida

**WHEN** - Condição a ser atendida

**THEN** - O que deve ser retornado quando tal condição for verdadeira

**ELSE** - O que deve ser retornado se nenhuma condição for verdadeira

### DATA - Formato de datas

**DATA** - Formato: AAAA-MM-DD

**DATETIME** - Formato: AAAA-MM-DD HH: MI: SS

**ANO** - Formato: AAAA ou AA

**GETDATE()** - Retorna a data atual